<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnglishMate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EnglishMate.Properties.Settings>
            <setting name="GrammarExercisesEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompositionExercisesEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrammarHelpEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompositionHelpEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCompleteEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Password</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="FirstStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainGrammarSplitContainerSplitter" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="mainCompositionSplitContainerSplitter" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="grammarOptionsPanel2Splitter" serializeAs="String">
                <value>88</value>
            </setting>
            <setting name="compositionOptionsPanel2Splitter" serializeAs="String">
                <value>88</value>
            </setting>
            <setting name="AllowBlankAnswers" serializeAs="String">
                <value>False</value>
            </setting>
        </EnglishMate.Properties.Settings>
    </userSettings>
</configuration>